<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288760408692-n5ep6jsdhndg0c0pre6tq492qd92fqvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288760408692-n5ep6jsdhndg0c0pre6tq492qd92fqvc</string>
	<key>API_KEY</key>
	<string>AIzaSyB0fkJbdBzIZyLi17_B2VXFF00Cevafogo</string>
	<key>GCM_SENDER_ID</key>
	<string>288760408692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>alumniflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>alumniflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288760408692:ios:096c2e6f90a6f83e7b7f21</string>
</dict>
</plist>